
html, * {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

div.body_wrapper {
    background-image: url('../IMG/Turtle_and_rabbit.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    height: 100vh;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 1.5em;
}

img {
    margin-right: 4px;
    position: relative;
    top: 6px
}

article img {
	width: 100%;
	height: auto;
  }

span.startgame > a {
    color: #145d94;
    text-decoration: none;
    text-align: center;
    display: block;
}

.header_wrapper {
    background-image: url('../IMG/Landscape.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.header_wrapper > div {
    width: 40em;
    margin: 0 auto;
    padding-top: 5em;;
}

.header_wrapper > div > img {
    width: 9em;
    margin-top: 15em;
    margin-left: -16em;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.reset {
    background-color: #145d94;
    color: black;
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 1.5em;
    margin-left: 1.5em;
    cursor: pointer;
}

.rabbitstateone {
margin-left: 5em;
}
.rabbitstatetwo {
margin-left: 10em;
}
.rabbitstatethree {
    margin-left: 10em;    
}
.rabbitstatefour {
    margin-left: 10em;  
}

.rabbitstatefive {
    margin-left: 10em; 
}

.rabbitstatesix {
    margin-left: 10em;
}

.rabbitstateseven {
    margin-left: 10em;
}

.rabbitstateeight {
    margin-left: 10em;
}

.rabbitstatenine {
    margin-left: 10em;
}

.rabbitstateten {
    margin-left: 10em;
}

.rabbitstateelven {
    margin-left: 10em;
}

.rabbitstatetwelve {
    margin-left: 10em;
}

.rabbitstatethirteen {
    margin-left: 10em; 
}

.rabbitstatefourteen {
    margin-left: 10em; 
}

.rabbitstatefifteen {
    margin-left: 10em; 
}

.turtlestateone {
    margin-left: 10em;
}

.turtlestatetwo {
    margin-left: 10em;
}
.turtlestatethree {
    margin-left: 10em;
}
.turtlestatefour {
    margin-left: 10em;
}
.turtlestatefive {
    margin-left: 10em;
}
.turtlestatesix {
    margin-left: 10em;
}
.turtlestateseven {
    margin-left: 10em;
}
.turtlestateeight {
    margin-left: 10em;
}
.turtlestatenine {
    margin-left: 10em;
}
.turtlestateten {
    margin-left: 10em;
}
.turtlestateeleven {
    margin-left: 10em;
}
.turtlestatetwelve {
    margin-left: 10em;
}
.turtlestatethirteen {
    margin-left: 10em;
}
.turtlestatefourteen {
    margin-left: 10em;
}
.turtlestatefifteen {
    margin-left: 10em;
}
