html,
* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

div.body_wrapper {
    background-image: url('../IMG/Turtle_and_rabbit.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 1.5em;
}

h2, p {
    text-align: center;
    font-size: 1em;
}

img {
    margin-right: 4px;
    position: relative;
    top: 6px
}

article img {
    width: 100%;
    height: auto;
}

button {
background-color: #145d94;
color: white;
padding: 8px;
border-radius: 8px;
border: none;
font-size: 20px;
margin-left: 1 em;
cursor: pointer;

}

.start {
    width: 8em;
    height: 3.5em;
    color: black;
    font-size: medium;
    border-color: black;
    border-radius: 1em;
    background-color: #145d94;
    position: absolute;
    top: 80%;
    left: 40%;

    /*Hulpmiddel: https://www.youtube.com/watch?v=lwEYrSa4z6k*/
}

.header_wrapper {
    background-image: url('../IMG/Landscape.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.header_wrapper>div>img {
    width: 9em;
    margin-top: 10em;
    margin-left: -16em;
}
.a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}


#rabbit-img {
    transition: margin-left 1s;

}#turtle-img {
    transition: margin-left 1s;
}

.turtleClass1 {
    margin-left: 10em!important;
}

.turtleClass2 {
    margin-left: 15em!important;
}

.turtleClass3 {
    margin-left: 25em!important;
}

.turtleClass4 {
    margin-left: 30em!important;
}

.turtleClass5 {
    margin-left: 45em!important;
}

.turtleClass6 {
    margin-left: 50em!important;
}

.turtleClass7 {
    margin-left: 65em!important;
}

.turtleClass8 {
    margin-left: 70em!important;
}

.turtleClass9 {
    margin-left: 80em!important;
}

.turtleClass10 {
    margin-left: 85em!important;
}

/*Rabbit functie begint nu*/

.rabbitClass1 {
    margin-left: 10em!important;
}

.rabbitClass2 {
    margin-left: 15em!important;
}

.rabbitClass3 {
    margin-left: 25em!important;
}

.rabbitClass4 {
    margin-left: 30em!important;
}

.rabbitClass5 {
    margin-left: 45em!important;
}

.rabbitClass6 {
    margin-left: 50em!important;
}

.rabbitClass7 {
    margin-left: 65em!important;
}

.rabbitClass8 {
    margin-left: 70em!important;
}

.rabbitClass9 {
    margin-left: 80em!important;
}

.rabbitClass10 {
    margin-left: 85em!important;
}